@import ../_base

.section
	display: flex
	flex-direction: column
	width: $section-container-width
	min-height: 100vh
	height: 100%
	margin: 0 auto
	padding: $section-padding

	font-weight: 500
	background-color: $white
	border-radius: $section-border-radius
	.section__title
		text-align: left
		font-size: 24px
		padding-bottom: 20px
	.section__list
		display: flex
		flex-wrap: wrap
		row-gap: $list-row-gap
		column-gap: $list-col-gap
