@import ../_base

.section
	width: $section-container-width
	margin: 0 auto
	padding: $section-padding

	background-color: $white
	border-radius: $section-border-radius
	.section__title
		padding-bottom: 20px
		text-align: left
		font-size: 24px
		font-weight: 500
	.section__list
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		row-gap: 40px
